@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
:root {
    --headerH: calc(var(--screenH) / 34);
    --contentH: calc(100vh - var(--headerH));
}

*::-webkit-scrollbar {
    display: none;
}

* {
    user-select: none;
}

.dragarea {
    display: flex;
    -webkit-app-region: drag;
    height: 100%;
    width: 100%;
    justify-content: center;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

header {
    position: fixed;
    width: 100vw;
    height: var(--headerH);
    background: #202020;
}

header div {
    width: 100vw;
    height: var(--headerH);
    position: relative;
    left: 0;
    display: flex;
    flex-direction: row-reverse;
}

header div * {
    overflow: visible;
}

span {
    font-size: 3.25vw;
}

header div div {
    margin-right: calc(var(--screenW) / 384);
    height: var(--headerH);
    width: var(--headerH);
}

header div div img {
    padding: calc(var(--headerH) / 10);
    width: calc(var(--headerH) / 1.25);
    filter: invert(1);
}

header div div span {
    color: white;
    pointer-events: none;
    position: absolute;
    left: calc(var(--screenH) / 384);
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: calc(var(--headerH) / 1.25);
}

.headerB {
    transition: 100ms;
}

.headerB:hover {
    background-color: #454545;
    height: 120%;
}

.content {
    color: white;
    background: #303030;
    width: 100vw;
    height: var(--contentH);
    padding-top: calc(var(--headerH) / 2);
}

.content div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5vmin;
    flex-direction: column;
}

.ngrok {
    height: var(--contentH);
    width: 100vw;
}

.host {
    height: var(--contentH);
    width: 100vw;
}

.ngrok form {
    display: flex;
    flex-direction: column;
}

.host form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input {
    background: #202020;
    color: white;
    border: none;
    height: 5vmin;
    font-size: 4vmin;
}

select {
    background: #202020;
    color: white;
    border: none;
    height: 5vmin;
    font-size: 4vh;
}

.host form div {
    position: absolute;
    bottom: 0;
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: center;
    height: var(--headerH);
    font-size: 50%;
    background: #202020;
    color: white;
    border: none;
    transition: 100ms;
}

.host form div:hover {
    background-color: #454545;
    height: calc(var(--headerH) * 1.2);
}

input[type=submit] {
    position: absolute;
    bottom: 0;
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: center;
    height: var(--headerH);
    font-size: 50%;
    background: #202020;
    color: white;
    border: none;
    transition: 100ms;
    left: 0;
}

input[type=submit]:hover {
    background-color: #454545;
    height: calc(var(--headerH) * 1.2);
}

.host form input[type=image] {
    background: none;
    filter: invert(1);
}

.host form input[type=file] {
    background: #202020;
    padding: 1%;
}

.ngrok form input[type=text] {
    width: 80vw;
    text-align: center;
}

.ver {
    position: absolute;
    bottom: calc(var(--headerH) * 1.2);
    font-size: 2.25vw;
}

a {
    pointer-events: all;
    text-decoration: none;
    color: rgb(123, 213, 255);
    transition: 100ms;
}

a:hover {
    color: rgb(186, 233, 253);
}