@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
:root {
    --headerH: calc(var(--screenH) / 34);
    --contentH: calc(100vh - var(--headerH));
}

*::-webkit-scrollbar {
    display: none;
}

* {
    user-select: none;
}

.dragarea {
    display: flex;
    -webkit-app-region: drag;
    height: 100%;
    width: 100%;
    justify-content: center;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

header {
    position: fixed;
    width: 100vw;
    height: var(--headerH);
    background: #202020;
}

header div {
    width: 100vw;
    height: var(--headerH);
    position: relative;
    left: 0;
    display: flex;
    flex-direction: row-reverse;
}

header div * {
    overflow: visible;
}

header div div {
    margin-right: calc(var(--screenW) / 384);
    height: var(--headerH);
    width: var(--headerH);
}

header div div img {
    padding: calc(var(--headerH) / 10);
    width: calc(var(--headerH) / 1.25);
    filter: invert(1);
}

header div div span {
    color: white;
    pointer-events: none;
    position: absolute;
    left: calc(var(--screenH) / 384);
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: calc(var(--headerH) / 1.25);
}

.headerB {
    transition: 100ms;
}

.headerB:hover {
    background-color: #454545;
}

.content {
    color: white;
    background: #303030;
    width: 100vw;
    height: var(--contentH);
    padding-top: calc(var(--headerH) / 2);
}

.content div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: calc(var(--screenW) / 100);
    flex-direction: column;
}

.ngrok {
    height: var(--contentH);
    width: 100vw;
}

.host {
    height: var(--contentH);
    width: 100vw;
}

.host form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1%;
}

.host form input[type=submit] {
    position: absolute;
    bottom: 0;
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: center;
    height: var(--headerH);
}

.host form input[type=file] {
    background: #202020;
    padding: 1%;
}